<!DOCTYPE html>
<html lang="en"> 
<head>
	<title>Joint Conference on Language Evolution</title>
	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="2024 Joint Conference on Language Evolution, Madison, WI">
	<meta name="author" content="Gary Lupyan">    
	<meta http-equiv='pragma' content='no-cache'>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
	
	<!-- FontAwesome JS-->
	<script defer src="assets/fontawesome/js/all.min.js"></script>

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="assets/css/theme.css">


</head> 

<body>    
	<header id="header" class="header fixed-top">	    
		<div class="branding">
			<div class="container-fluid">
				<nav class="main-nav navbar navbar-expand-lg">
<!-- 					<div class="site-logo"><a class="scrollto" href="#hero-block"><img class="logo-icon" src="assets/images/logo-white.svg" alt="logo"></a></div>    
					 -->
					<div class="navbar-btn order-lg-2"><a class="btn btn-secondary" href="https://openreview.net/group?id=EVOLANG.org/2024/Conference" target="_blank">Submit a Proposal</a></div>
					
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					
					<div id="navigation" class="navbar-collapse collapse  justify-content-lg-end me-lg-3">
						<ul class="nav navbar-nav">
							
							<li class="nav-item"><a class="nav-link scrollto" href="#about-section">About</a></li>                                              
							<li class="nav-item"><a class="nav-link scrollto" href="#speakers-section">Speakers</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#schedule-section">Schedule</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#tickets-section">Tickets</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#venue-section">Venue</a></li>
							<li class="nav-item"><a class="nav-link scrollto" href="#sponsors-section">Sponsors</a></li>
						</ul><!--//nav-->
					</div><!--//navabr-collapse-->

				</nav><!--//main-nav-->
				
			</div><!--//container-->
		</div><!--//branding-->
	</header><!--//header-->
	
	<div id="hero-block" class="hero-block">
		<div id="hero-carousel" class="hero-carousel carousel slide carousel-fade" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item-1 carousel-item active">
				</div>
				<div class="carousel-item-2 carousel-item">
				</div>
				<div class="carousel-item-3 carousel-item">
				</div>
			</div>
		</div>
		<div class="hero-block-mask"></div>
		<div class="container">
			<div class="hero-text-block">
                <h1 class="hero-heading mb-2">{{page.title }}</h1>
                <div class="hero-meta mb-3"><i class="far fa-calendar-alt me-2"></i>{{ page.date }}<i class="fas fa-map-marker-alt mx-2"></i>{{page.location}}</div>
                <div class="hero-intro mb-4"></div>
                <div class="hero-cta"><a class="btn btn-primary btn-lg" href="{{page.proposal_link}}" target="_blank">Submit Your Workshop Proposal</a></div>
                
            </div><!--//hero-text-block-->
		</div><!--//container-->

	</div><!--//hero-block-->
	
    {% if page.stats %}
	{% include stats.html
        attendees=page.stats.attendees
        days=page.stats.days
        talks=page.stats.talks
        workshops=page.stats.workshops
    %}
    {% endif %}

    {% if page.about %}
    {% include about.html
        header = page.about.header
        subheader = page.about.subheader
        req_header = page.about.req_header
        requirements = page.about.requirements
        subheader_2 = page.about.subheader_2
        body_2 = page.about.body_2
    %}
    {% endif %}

    {% if page.speakers %}
    {% include speakers.html
        header = page.speakers.header
        subheader = page.speakers.subheader
        speaker_list = page.speakers.speaker_list
        cta = page.speakers.cta
    %}
    {% endif %}



	<div class="container">
		<hr>
	</div>


    {% if page.schedule %}
    {% include schedule.html
        days = page.schedule.days
        button_1 = page.schedule.button_1
        button_1_href = page.schedule.button_1_href
        button_2 = page.schedule.button_2
        button_2_href = page.schedule.button_2_href
    %}
    {% endif %}
	
    {% if page.tickets %}
    {% include tickets.html
        header = page.tickets.header
        subtitle = page.tickets.subtitle
        modals = page.tickets.modals
        iconlist = page.tickets.iconlist
    %}
    {% endif %}
	
	{% if page.venue %}
    {% include venue.html
        header-1 = page.venue.header-1
        header-2 = page.venue.header-2
        body-1 = page.venue.body-1
        body-2 = page.venue.body-2
        button = page.venue.button
        button-href = page.venue.button-href
        modals = page.venue.modals
        image-1-href = page.venue.image-1-href
        image-2-href = page.venue.image-2-href
        image-3-href = page.venue.image-3-href
        image-4-href = page.venue.image-4-href
    %}
    {% endif %}
	
    {% if page.sponsor %}
    {% include sponsor.html
        header = page.sponsor.header
        subheader = page.sponsor.subheader
        logos = page.sponsor.logos
        button = page.sponsor.button
        button_href = page.sponsor.button_href
    %}
	{% endif %}

	<footer class="footer py-5 theme-bg-primary">
		<div class="container text-center">
			
			<ul class="social-list list-inline mb-4"> 
				<li class="list-inline-item me-3"><a href="#"><i class="fas fa-envelope"></i></a></li>
				<li class="list-inline-item me-3"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
				<li class="list-inline-item me-3"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
				<li class="list-inline-item me-0"><a href="#"><i class="fab fa-youtube fa-fw"></i></a></li>
			</ul><!--//social-list-->
			
			
			<ul class="footer-links list-inline mx-auto mb-4">
				<li class="list-inline-item"><a href="#">Code of Conduct</a></li>
				<li class="list-inline-item">|</li>
				<li class="list-inline-item"><a href="#">Terms</a></li>
				<li class="list-inline-item">|</li>
				<li class="list-inline-item me-0"><a href="#">Privacy</a></li>
			</ul><!--//footer-link-->
			
			 <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Designed with <i class="fas fa-heart" style="color: #EC645E;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
			
		</div><!--//container-->	    
	</footer>

	<!-- Modal Speaker -->
	<div class="modal modal-speaker modal-speaker-1" id="modal-speaker-1" tabindex="-1" role="dialog" aria-labelledby="speaker-1-ModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 id="speaker-1-ModalLabel" class="modal-title sr-only"
>Speaker Name</h4>
				</div>
				<div class="modal-body p-0">
					<div class="theme-bg-light p-5">
						<div class="row">
							<div class="col-12 col-md-auto text-center">
							    <img class="profile-image mb-3 mb-md-0 me-md-4 rounded-circle mx-auto" src="assets/images/speakers/speaker-1.jpg" alt="" />
							</div>
							
							<div class="col text-center text-md-start mx-auto">
								<h2 class="name mb-2">Speaker Name</h2>
								<div class="meta">Job Title Or Position</div>
								<div class="meta mb-2">Company Or Organization</div>
								<ul class="social-list list-inline mb-0">								
									<li class="list-inline-item"><a  href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
									<li class="list-inline-item"><a  href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
									<li class="list-inline-item"><a  href="#"><i class="fab fa-github fa-fw"></i></a></li>
								</ul><!--//social-list--> 
							</div><!--//col-->
						</div><!--//row-->
					</div>
					<div class="desc p-4 p-lg-5">
						<p>You can put speaker's bio or talk related info here. Duis a mi quis metus porttitor eleifend. Pellentesque finibus ultrices imperdiet. Maecenas auctor tortor quis risus tincidunt, mattis mattis leo placerat. Fusce metus augue, sagittis eget enim vel, venenatis auctor est. In interdum felis massa, ac porta nunc pretium non. In fringilla orci vitae imperdiet malesuada. Vestibulum feugiat lobortis est, in sagittis nisi molestie vel. Mauris ultrices vitae lectus eu feugiat. Fusce semper, nisi at placerat mollis, augue elit pretium enim, eu pellentesque justo purus et lectus. </p>
						<p class="mb-0">Donec neque magna, molestie vel varius ut, pretium a urna. Pellentesque placerat nunc eu condimentum pellentesque. Vivamus dictum nisl leo, id fermentum lectus porttitor et. Pellentesque tristique erat libero, condimentum porttitor nisl pharetra et.</p>
					</div>
				</div><!--//modal-body-->
			</div><!--//modal-content-->
		</div><!--//modal-dialog-->
	</div><!--//modal-->
	
	<!-- Javascript -->          
	<script src="assets/plugins/popper.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>  
	<script src="assets/plugins/smoothscroll.min.js"></script>
	<script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script> 
	<script src="assets/js/main.js"></script>  

</body>
</html> 
